# Pandas 101

## Data Structure

### Series

In [296]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

#### Default range index

In [297]:
obj=Series([1,3,-4,-8])
obj

0    1
1    3
2   -4
3   -8
dtype: int64

In [298]:
obj.values

array([ 1,  3, -4, -8])

In [299]:
obj.index

RangeIndex(start=0, stop=4, step=1)

#### Explicit index

In [300]:
obj2=Series([1,3,-4,-8],index=["a", "b", "c", "d"])
obj2

a    1
b    3
c   -4
d   -8
dtype: int64

In [301]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [302]:
obj2["a"]

1

In [303]:
obj2["d"]=6
obj2

a    1
b    3
c   -4
d    6
dtype: int64

#### numpy array like operations

In [304]:
obj2[['c', 'b', 'a']]

c   -4
b    3
a    1
dtype: int64

In [305]:
obj2[['c', 'b', 'a']]=[1,2,3]
obj2

a    3
b    2
c    1
d    6
dtype: int64

In [306]:
obj2[obj2>3]

d    6
dtype: int64

In [307]:
obj2*3

a     9
b     6
c     3
d    18
dtype: int64

In [308]:
obj2*=3
obj2

a     9
b     6
c     3
d    18
dtype: int64

In [309]:
np.exp(obj2)

a    8.103084e+03
b    4.034288e+02
c    2.008554e+01
d    6.565997e+07
dtype: float64

#### Create from dict

In [310]:
d = {"WA": 1000, "CA": 2000, "WY": 3000, "MD":4000}
obj3 = Series(d)
obj3

CA    2000
MD    4000
WA    1000
WY    3000
dtype: int64

##### Create with explicit index in a certain order

In [311]:
obj4=Series(d, index=["WA", "CA", "WY", "NY"])
obj4

WA    1000.0
CA    2000.0
WY    3000.0
NY       NaN
dtype: float64

In [312]:
pd.isnull(obj4)

WA    False
CA    False
WY    False
NY     True
dtype: bool

In [313]:
pd.notnull(obj4)

WA     True
CA     True
WY     True
NY    False
dtype: bool

In [314]:
obj4.isnull()

WA    False
CA    False
WY    False
NY     True
dtype: bool

In [315]:
obj4.notnull()

WA     True
CA     True
WY     True
NY    False
dtype: bool

In [316]:
obj3+obj4

CA    4000.0
MD       NaN
NY       NaN
WA    2000.0
WY    6000.0
dtype: float64

In [317]:
obj4.index

Index(['WA', 'CA', 'WY', 'NY'], dtype='object')

In [318]:
obj4.index.name="State"
obj4.index

Index(['WA', 'CA', 'WY', 'NY'], dtype='object', name='State')

In [319]:
obj4.name="Population"
obj4

State
WA    1000.0
CA    2000.0
WY    3000.0
NY       NaN
Name: Population, dtype: float64

In [320]:
obj.index=["WA", "WY", "CA", "NY"]
obj

WA    1
WY    3
CA   -4
NY   -8
dtype: int64

In [321]:
obj+obj4

CA    1996.0
NY       NaN
WA    1001.0
WY    3003.0
dtype: float64

### DataFrame

In [322]:
data = {
    "state": ["WA", "WA", "WA", "CA", "CA", "NY"],
    "year": [2000,2001,2002,1999,2000,2003],
    "pop": [1.2,3.4,2.4,3.2,4.5,4.5]
}
df = DataFrame(data)
df

   pop state  year
0  1.2    WA  2000
1  3.4    WA  2001
2  2.4    WA  2002
3  3.2    CA  1999
4  4.5    CA  2000
5  4.5    NY  2003

In [323]:
df["pop"]

0    1.2
1    3.4
2    2.4
3    3.2
4    4.5
5    4.5
Name: pop, dtype: float64

In [324]:
df.head()

   pop state  year
0  1.2    WA  2000
1  3.4    WA  2001
2  2.4    WA  2002
3  3.2    CA  1999
4  4.5    CA  2000

In [325]:
df=DataFrame(data, columns=['year','pop', 'state'])
df

   year  pop state
0  2000  1.2    WA
1  2001  3.4    WA
2  2002  2.4    WA
3  1999  3.2    CA
4  2000  4.5    CA
5  2003  4.5    NY

In [326]:
df=DataFrame(data, columns=['year','pop', 'state', 'debt'], index=['zero','one', 'two', 'three', 'four', 'five'])
df

       year  pop state debt
zero   2000  1.2    WA  NaN
one    2001  3.4    WA  NaN
two    2002  2.4    WA  NaN
three  1999  3.2    CA  NaN
four   2000  4.5    CA  NaN
five   2003  4.5    NY  NaN

In [327]:
df["year"]

zero     2000
one      2001
two      2002
three    1999
four     2000
five     2003
Name: year, dtype: int64

In [328]:
df.year

zero     2000
one      2001
two      2002
three    1999
four     2000
five     2003
Name: year, dtype: int64

In [329]:
df.loc['one']

year     2001
pop       3.4
state      WA
debt      NaN
Name: one, dtype: object

In [330]:
df['debt']=3
df

       year  pop state  debt
zero   2000  1.2    WA     3
one    2001  3.4    WA     3
two    2002  2.4    WA     3
three  1999  3.2    CA     3
four   2000  4.5    CA     3
five   2003  4.5    NY     3

In [331]:
df['debt']=np.arange(6)
df

       year  pop state  debt
zero   2000  1.2    WA     0
one    2001  3.4    WA     1
two    2002  2.4    WA     2
three  1999  3.2    CA     3
four   2000  4.5    CA     4
five   2003  4.5    NY     5

In [332]:
val=Series([3,8,9,100],index=['zero', 'two', 'five', 'eight'])
val

zero       3
two        8
five       9
eight    100
dtype: int64

In [333]:
df['debt']=val
df

       year  pop state  debt
zero   2000  1.2    WA   3.0
one    2001  3.4    WA   NaN
two    2002  2.4    WA   8.0
three  1999  3.2    CA   NaN
four   2000  4.5    CA   NaN
five   2003  4.5    NY   9.0

In [334]:
df['eastern']=df['state']=='NY'
df

       year  pop state  debt  eastern
zero   2000  1.2    WA   3.0    False
one    2001  3.4    WA   NaN    False
two    2002  2.4    WA   8.0    False
three  1999  3.2    CA   NaN    False
four   2000  4.5    CA   NaN    False
five   2003  4.5    NY   9.0     True

In [335]:
df.columns

Index(['year', 'pop', 'state', 'debt', 'eastern'], dtype='object')

In [336]:
del df['eastern']

In [337]:
df.columns

Index(['year', 'pop', 'state', 'debt'], dtype='object')

#### Create from nested dict

In [338]:
data2={'WA':{2000:1, 2001:2, 2003:3}, 'CA':{2000:3, 2001:3.5, 2002:4.0}}
df2=DataFrame(data2)
df2

       CA   WA
2000  3.0  1.0
2001  3.5  2.0
2002  4.0  NaN
2003  NaN  3.0

In [339]:
df2.T

    2000  2001  2002  2003
CA   3.0   3.5   4.0   NaN
WA   1.0   2.0   NaN   3.0

In [340]:
DataFrame(data2, index=[2004,2001,2000])

       CA   WA
2004  NaN  NaN
2001  3.5  2.0
2000  3.0  1.0

In [341]:
pdata={'WA':df2['WA'][:-1], 'CA':df2['CA']}
df3=DataFrame(pdata)
df3

       CA   WA
2000  3.0  1.0
2001  3.5  2.0
2002  4.0  NaN
2003  NaN  NaN

In [342]:
df3.index.name='year'
df3.columns.name='state'
df3

state   CA   WA
year
2000   3.0  1.0
2001   3.5  2.0
2002   4.0  NaN
2003   NaN  NaN

In [343]:
df3.columns

Index(['CA', 'WA'], dtype='object', name='state')

In [344]:
df3.values

array([[ 3. ,  1. ],
       [ 3.5,  2. ],
       [ 4. ,  nan],
       [ nan,  nan]])

In [345]:
df2.values

array([[ 3. ,  1. ],
       [ 3.5,  2. ],
       [ 4. ,  nan],
       [ nan,  3. ]])

In [346]:
df.values

array([[2000, 1.2, 'WA', 3.0],
       [2001, 3.4, 'WA', nan],
       [2002, 2.4, 'WA', 8.0],
       [1999, 3.2, 'CA', nan],
       [2000, 4.5, 'CA', nan],
       [2003, 4.5, 'NY', 9.0]], dtype=object)

### Index

|Function|Description|
|--|--|
|append||
|difference||
|intersection||
|isin||
|delete||
|drop||
|insert||
|is_monotonic||
|is_unique||
|unique||

In [347]:
obj=Series(range(3), index=['a','b','c'])
obj.index

Index(['a', 'b', 'c'], dtype='object')

In [348]:
'a' in obj.index

True

In [349]:
'g' in obj.index

False

In [350]:
obj.index[1:]

Index(['b', 'c'], dtype='object')

In [351]:
labels=pd.Index(np.arange(3))
labels

Int64Index([0, 1, 2], dtype='int64')

In [352]:
index=pd.RangeIndex(3)
index

RangeIndex(start=0, stop=3, step=1)

In [353]:
obj.index=index

In [354]:
obj

0    0
1    1
2    2
dtype: int64

In [355]:
labels.append(index)

Int64Index([0, 1, 2, 0, 1, 2], dtype='int64')

In [356]:
index2=pd.RangeIndex(2,8,1)

In [357]:
index.intersection(index2)

RangeIndex(start=2, stop=3, step=1)

In [358]:
labels.intersection(index2)

Int64Index([2], dtype='int64')

In [359]:
labels.union(index2)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [360]:
index.union(index2)

RangeIndex(start=0, stop=8, step=1)

In [361]:
index.union(pd.RangeIndex(10,20,2))

Int64Index([0, 1, 2, 10, 12, 14, 16, 18], dtype='int64')

In [362]:
index.difference(index2)

Int64Index([0, 1], dtype='int64')

In [363]:
index.isin(index2)

array([False, False,  True], dtype=bool)

In [364]:
index.delete(2)

Int64Index([0, 1], dtype='int64')

In [365]:
index2.delete(2)

Int64Index([2, 3, 5, 6, 7], dtype='int64')

In [366]:
index.drop(index2)

ValueError: labels [3 4 5 6 7] not contained in axis

In [ ]:
index3=pd.Index([0,2])
index.drop(index3)

In [ ]:
index.insert(0, -2)

In [ ]:
index.is_monotonic

In [ ]:
index.insert(0, 8).is_monotonic

In [ ]:
index.is_unique

In [ ]:
index.insert(0,2).is_unique

In [ ]:
index.insert(0,2).unique()

In [ ]:
for i in index:
    print(i)

## Basic features

## Reindex

In [ ]:
obj=Series([1.,2.,4.], index=['a','b','d'])
obj

In [ ]:
obj2=obj.reindex(['d','b','a','c'])
obj2

In [ ]:
obj3=obj.reindex(['d','b','a','c'], method='ffill')
obj3

In [ ]:
states=['WA','CA','NY']
df=DataFrame(np.random.randint(20,size=(3,3)), index=['a','c','d'], columns=states)
df

In [ ]:
df2=df.reindex(['a','b','c','d'])
df2

In [ ]:
new_states=['WA','AZ','TX']
df3=df.reindex(columns=new_states)
df3

In [ ]:
df.loc[['a','b','c','d'],['WA']]

## Drop data

In [ ]:
obj=DataFrame(np.arange(5.),index=['a','b','c','d','e'])
obj

In [ ]:
obj.drop('c')

In [ ]:
obj.drop(['d','b'])

In [ ]:
states=['WA','CA','NY']
df=DataFrame(np.random.randint(20,size=(3,3)), index=['a','c','d'], columns=states)
df

In [ ]:
df.drop('a')

In [ ]:
df.drop('WA', axis=1)

In [ ]:
df.drop(['CA', 'NY'],axis='columns')

In [ ]:
df

In [ ]:
df.drop(['CA'], axis='columns',inplace=True)
df

### Index, select and filter

In [ ]:
obj=Series(np.arange(4.),index=['a','b','c','d'])
obj[0:3]

In [ ]:
obj['a':'c']

In [ ]:
robj=obj.reindex(['a','c','d','b'])
robj

In [ ]:
robj['b':'c']

In [ ]:
robj['a':'b']

In [ ]:
robj['a':'c']

In [ ]:
obj2=Series(np.arange(4.))
obj2[0:3]

In [ ]:
obj2[0:1]=4
obj2

In [ ]:
df=DataFrame(np.random.randint(20,size=(4,4)), index=['WA','CA', 'NY', 'TX'],columns=['one','two','three','four'])
df

In [ ]:
df['one']

In [ ]:
df[['one','two']]

In [ ]:
df[0:4:2]

In [ ]:
df[df['one']>5]

In [ ]:
df.loc[['WA','CA'], 'one']

In [ ]:
df.loc['WA':'NY', 'one':'three']

In [ ]:
df.iloc[0:2]

In [ ]:
df.iloc[:,0:4:2][df['one']>5]

In [ ]:
df.iat[0,0]

In [ ]:
df.at['CA','one']

### Int Index

In [ ]:
ser = Series(np.arange(3.))
ser[-1]

In [ ]:
ser

In [ ]:
ser.iloc[-1]

### Arithmetic and data fill

In [ ]:
s1=Series(np.arange(3.), index=list('abc'))
s1

In [ ]:
s2=Series(np.arange(5.),index=list('cdefb'))
s2

In [ ]:
s1+s2

In [ ]:
s1*s2

In [ ]:
s1.add(s2,fill_value=0)

In [ ]:
s1.mul(s2, fill_value=1)

In [ ]:
df1=DataFrame(np.random.randint(20,size=(3,3)), index='WA,CA,NY'.split(','),columns=list('bac'))
df1

In [ ]:
df2=DataFrame(np.random.randint(20,size=(4,4)),index='WA,OH,CA,NY'.split(','), columns=list('aecd'))
df2

In [ ]:
df1+df2

In [ ]:
df1.add(df2,fill_value=0)

In [ ]:
1/df1

In [ ]:
df1.rdiv(1)

In [ ]:
ser=df1.iloc[0]
ser

In [ ]:
df1-ser

In [ ]:
ser2=Series(np.arange(5.), index=list('cafed'))
ser2

In [ ]:
df1-ser2

In [ ]:
df1

In [ ]:
ser3=Series(np.arange(5.), 'WA,CA,TX,OH,FL'.split(','))
ser3

In [ ]:
df1.sub(ser3, axis=0)

## Function

In [ ]:
df=DataFrame(np.random.randint(20,size=(4,4)), index=['WA','CA', 'NY', 'TX'],columns=['one','two','three','four'])
df

In [ ]:
np.sin(df)

In [ ]:
df.apply(np.sum)

In [ ]:
df.apply(np.sum,axis=1)

In [ ]:
df.sum()

In [ ]:
df.sum(axis=1)

In [ ]:
def f(x):
    return Series([x.min(),x.max()],index=['min','max'])

In [ ]:
df.apply(f)

In [ ]:
df.apply(f,axis=1)

In [ ]:
def fmt(x):
    return "%04d" % x
df.applymap(fmt)

In [ ]:
df['one'].map(fmt)

## Sort and rank

In [ ]:
df=DataFrame(np.random.randint(20,size=(4,4)), index=['WA','CA', 'NY', 'TX'],columns=['one','two','three','four'])
df

In [ ]:
df.sort_index()

In [ ]:
df.sort_index(axis=1)

In [ ]:
df.sort_values(by='two')

In [ ]:
one=df['one'].copy()
one

In [ ]:
one.sort_index()

In [ ]:
one.sort_values(ascending=False)

In [ ]:
df.sort_values(by=['two', 'one'])

In [ ]:
df.sort_values(axis=1, by='WA')

In [ ]:
obj=Series([1,2.,np.nan,-10])
obj

In [ ]:
obj.sort_values()

In [ ]:
obj.sort_values(ascending=False)

In [ ]:
obj = Series([7,0,7,0,2,-3])
obj.rank()

In [ ]:
obj.rank(method='first')

In [ ]:
obj.rank(method='min')

In [ ]:
obj.rank(method='max')

In [ ]:
obj.rank(method='dense')

### Dup index

In [ ]:
obj=Series(np.arange(5.),index=list('aabbc'))
obj

In [ ]:
obj['a']

In [ ]:
obj['c']

In [ ]:
df=DataFrame(np.random.randint(20,size=(5,5)), index=list('abcba'), columns='one,two,three,two,one'.split(','))
df

In [ ]:
df['one']

In [ ]:
df['three']

In [ ]:
df.loc['a']

In [ ]:
df.loc['c']

## Stat and describ

In [ ]:
df=DataFrame(np.random.randint(20,size=(5,5)), index=list('abcba'), columns='one,two,three,two,one'.split(','))
df

In [ ]:
df.describe()

In [ ]:
df.idxmax()

## Correlation

In [367]:
import pandas_datareader.data as web

In [368]:
all_data = {ticker:web.get_data_yahoo(ticker) for ticker in ['IBM', 'AAPL', 'MSFT',"AMZN"]}

In [369]:
all_data

{'AAPL':                   High         Low        Open       Close       Volume  \
 Date
 2014-12-29  114.769997  113.699997  113.790001  113.910004   27598900.0
 2014-12-30  113.919998  112.110001  113.639999  112.519997   29881500.0
 2014-12-31  113.129997  110.209999  112.820000  110.379997   41403400.0
 2015-01-02  111.440002  107.349998  111.389999  109.330002   53204600.0
 2015-01-05  108.650002  105.410004  108.290001  106.250000   64285500.0
 2015-01-06  107.430000  104.629997  106.540001  106.260002   65797100.0
 2015-01-07  108.199997  106.699997  107.199997  107.750000   40105900.0
 2015-01-08  112.150002  108.699997  109.230003  111.889999   59364500.0
 2015-01-09  113.250000  110.209999  112.669998  112.010002   53699500.0
 2015-01-12  112.629997  108.800003  112.599998  109.250000   49650800.0
 2015-01-13  112.800003  108.910004  111.430000  110.220001   67091900.0
 2015-01-14  110.489998  108.500000  109.040001  109.800003   48956600.0
 2015-01-15  110.059998  106.660004  110.000000  106.820000   60014000.0
 2015-01-16  107.580002  105.199997  107.029999  105.989998   78513300.0
 2015-01-20  108.970001  106.500000  107.839996  108.720001   49899900.0
 2015-01-21  111.059998  108.269997  108.949997  109.550003   48575900.0
 2015-01-22  112.470001  109.720001  110.260002  112.400002   53796400.0
 2015-01-23  113.750000  111.529999  112.300003  112.980003   46464800.0
 2015-01-26  114.360001  112.800003  113.739998  113.099998   55615000.0
 2015-01-27  112.480003  109.029999  112.419998  109.139999   95568700.0
 2015-01-28  118.120003  115.309998  117.629997  115.309998  146477100.0
 2015-01-29  119.190002  115.559998  116.320000  118.900002   84436400.0
 2015-01-30  120.000000  116.849998  118.400002  117.160004   83745500.0
 2015-02-02  119.169998  116.080002  118.050003  118.629997   62739100.0
 2015-02-03  119.089996  117.610001  118.500000  118.650002   51915700.0
 2015-02-04  120.510002  118.309998  118.500000  119.559998   70149700.0
 2015-02-05  120.230003  119.250000  120.019997  119.940002   42246200.0
 2015-02-06  120.250000  118.449997  120.019997  118.930000   43706600.0
 2015-02-09  119.839996  118.430000  118.550003  119.720001   38889800.0
 2015-02-10  122.150002  120.160004  120.169998  122.019997   62008500.0
 ...                ...         ...         ...         ...          ...
 2019-11-14  264.880005  262.100006  263.750000  262.640015   22295700.0
 2019-11-15  265.779999  263.010010  263.679993  265.760010   25051600.0
 2019-11-18  267.429993  264.230011  265.799988  267.100006   21675800.0
 2019-11-19  268.000000  265.390015  267.899994  266.290009   19041800.0
 2019-11-20  266.079987  260.399994  265.540009  263.190002   26558600.0
 2019-11-21  264.010010  261.179993  263.690002  262.010010   30348800.0
 2019-11-22  263.179993  260.839996  262.589996  261.779999   16331300.0
 2019-11-25  266.440002  262.519989  262.709991  266.369995   21005100.0
 2019-11-26  267.160004  262.500000  266.940002  264.290009   26301900.0
 2019-11-27  267.980011  265.309998  265.579987  267.839996   16308900.0
 2019-11-29  268.000000  265.899994  266.600006  267.250000   11654400.0
 2019-12-02  268.250000  263.450012  267.269989  264.160004   23621800.0
 2019-12-03  259.529999  256.290009  258.309998  259.450012   28607600.0
 2019-12-04  263.309998  260.679993  261.070007  261.739990   16795400.0
 2019-12-05  265.890015  262.730011  263.790009  265.579987   18606100.0
 2019-12-06  271.000000  267.299988  267.480011  270.709991   26518900.0
 2019-12-09  270.799988  264.910004  270.000000  266.920013   32010600.0
 2019-12-10  270.070007  265.859985  268.600006  268.480011   22605100.0
 2019-12-11  271.100006  268.500000  268.809998  270.769989   19689200.0
 2019-12-12  272.559998  267.320007  267.779999  271.459991   34327600.0
 2019-12-13  275.299988  270.929993  271.459991  275.149994   33396900.0
 2019-12-16  280.790009  276.980011  277.000000  279.859985   32046500.0
 2019-12-17  281.769989  278.799988  279.570007  280.410004   28539600.0
 2019-12-18  281.899994  279.119995  279.799988  279.739990   29007100.0
 2019-12-19  281.179993  278.950012  279.500000  280.019989   24592300.0
 2019-12-20  282.649994  278.559998  282.230011  279.440002   68994500.0
 2019-12-23  284.250000  280.369995  280.529999  284.000000   24643000.0
 2019-12-24  284.890015  282.920013  284.690002  284.269989   12119700.0
 2019-12-26  289.980011  284.700012  284.820007  289.910004   23280300.0
 2019-12-27  293.970001  288.119995  291.119995  289.799988   36566500.0

              Adj Close
 Date
 2014-12-29  104.662506
 2014-12-30  103.385315
 2014-12-31  101.419060
 2015-01-02  100.454300
 2015-01-05   97.624336
 2015-01-06   97.633545
 2015-01-07   99.002556
 2015-01-08  102.806480
 2015-01-09  102.916725
 2015-01-12  100.380791
 2015-01-13  101.272049
 2015-01-14  100.886154
 2015-01-15   98.148056
 2015-01-16   97.385445
 2015-01-20   99.893822
 2015-01-21  100.656441
 2015-01-22  103.275063
 2015-01-23  103.807991
 2015-01-26  103.918228
 2015-01-27  100.279716
 2015-01-28  105.948822
 2015-01-29  109.247391
 2015-01-30  107.648643
 2015-02-02  108.999298
 2015-02-03  109.017654
 2015-02-04  109.853806
 2015-02-05  110.637886
 2015-02-06  109.706200
 2015-02-09  110.434944
 2015-02-10  112.556557
 ...                ...
 2019-11-14  262.640015
 2019-11-15  265.760010
 2019-11-18  267.100006
 2019-11-19  266.290009
 2019-11-20  263.190002
 2019-11-21  262.010010
 2019-11-22  261.779999
 2019-11-25  266.369995
 2019-11-26  264.290009
 2019-11-27  267.839996
 2019-11-29  267.250000
 2019-12-02  264.160004
 2019-12-03  259.450012
 2019-12-04  261.739990
 2019-12-05  265.579987
 2019-12-06  270.709991
 2019-12-09  266.920013
 2019-12-10  268.480011
 2019-12-11  270.769989
 2019-12-12  271.459991
 2019-12-13  275.149994
 2019-12-16  279.859985
 2019-12-17  280.410004
 2019-12-18  279.739990
 2019-12-19  280.019989
 2019-12-20  279.440002
 2019-12-23  284.000000
 2019-12-24  284.269989
 2019-12-26  289.910004
 2019-12-27  289.799988

 [1259 rows x 6 columns],
 'AMZN':                    High          Low         Open        Close    Volume  \
 Date
 2014-12-29   314.269989   306.579987   307.850006   312.040009   3009000
 2014-12-30   313.940002   309.339996   309.910004   310.299988   2093000
 2014-12-31   312.980011   310.010010   311.549988   310.350006   2048000
 2015-01-02   314.750000   306.959991   312.579987   308.519989   2783200
 2015-01-05   308.380005   300.850006   307.010010   302.190002   2774200
 2015-01-06   303.000000   292.380005   302.239990   295.290009   3519000
 2015-01-07   301.279999   295.329987   297.500000   298.420013   2640300
 2015-01-08   303.140015   296.109985   300.320007   300.459991   3088400
 2015-01-09   302.869995   296.679993   301.480011   296.929993   2592400
 2015-01-12   298.510010   289.279999   297.559998   291.410004   3421400
 2015-01-13   301.500000   293.230011   297.480011   294.739990   4136400
 2015-01-14   295.910004   286.500000   291.929993   293.269989   5538700
 2015-01-15   296.000000   286.820007   294.000000   286.950012   4419200
 2015-01-16   290.790009   285.250000   286.279999   290.739990   3478200
 2015-01-20   293.359985   286.390015   292.589996   289.440002   3075100
 2015-01-21   306.000000   287.260010   289.640015   297.250000  10065100
 2015-01-22   312.250000   300.000000   300.000000   310.320007   5362600
 2015-01-23   316.929993   307.720001   308.079987   312.390015   4496400
 2015-01-26   313.000000   307.519989   311.820007   309.660004   3169700
 2015-01-27   310.239990   302.630005   306.299988   306.750000   2920300
 2015-01-28   311.510010   303.799988   309.809998   303.910004   3063800
 2015-01-29   312.799988   299.329987   304.730011   311.779999   8656600
 2015-01-30   359.500000   340.739990   346.320007   354.529999  23856100
 2015-02-02   365.000000   350.010010   350.049988   364.470001  10231900
 2015-02-03   367.820007   360.209991   360.290009   363.549988   6212600
 2015-02-04   367.500000   358.230011   358.380005   364.750000   4169900
 2015-02-05   378.799988   365.899994   366.000000   373.890015   7247600
 2015-02-06   375.989990   371.010010   374.869995   374.279999   3892400
 2015-02-09   374.410004   367.200012   371.000000   370.559998   2724600
 2015-02-10   374.299988   368.510010   371.190002   373.000000   2287200
 ...                 ...          ...          ...          ...       ...
 2019-11-14  1766.589966  1749.560059  1751.430054  1754.599976   2264800
 2019-11-15  1761.680054  1732.859985  1760.050049  1739.489990   3927600
 2019-11-18  1753.699951  1722.709961  1738.300049  1752.530029   2839500
 2019-11-19  1760.680054  1743.030029  1756.989990  1752.790039   2270800
 2019-11-20  1762.520020  1734.119995  1749.140015  1745.530029   2790000
 2019-11-21  1746.869995  1730.359985  1743.000000  1734.709961   2662900
 2019-11-22  1746.430054  1731.000000  1739.020020  1745.719971   2479100
 2019-11-25  1777.420044  1753.239990  1753.250000  1773.839966   3486200
 2019-11-26  1797.030029  1778.349976  1779.920044  1796.939941   3181200
 2019-11-27  1824.500000  1797.310059  1801.000000  1818.510010   3025600
 2019-11-29  1824.689941  1800.790039  1817.780029  1800.800049   1923400
 2019-12-02  1805.550049  1762.680054  1804.400024  1781.599976   3925600
 2019-12-03  1772.869995  1747.229980  1760.000000  1769.959961   3380900
 2019-12-04  1789.089966  1760.219971  1774.010010  1760.689941   2670100
 2019-12-05  1763.500000  1740.000000  1763.500000  1740.479980   2823800
 2019-12-06  1754.400024  1740.130005  1751.199951  1751.599976   3117400
 2019-12-09  1766.890015  1745.609985  1750.660034  1749.510010   2442800
 2019-12-10  1750.670044  1735.000000  1747.400024  1739.209961   2514300
 2019-12-11  1750.000000  1735.709961  1741.670044  1748.719971   2097600
 2019-12-12  1764.000000  1745.439941  1750.000000  1760.329956   3095900
 2019-12-13  1768.989990  1755.000000  1765.000000  1760.939941   2745700
 2019-12-16  1769.500000  1757.050049  1767.000000  1769.209961   3145200
 2019-12-17  1792.000000  1777.390015  1778.010010  1790.660034   3644400
 2019-12-18  1798.199951  1782.359985  1795.020020  1784.030029   3351400
 2019-12-19  1792.989990  1774.060059  1780.500000  1792.280029   2652800
 2019-12-20  1802.969971  1782.449951  1799.619995  1786.500000   5150800
 2019-12-23  1793.000000  1784.510010  1788.260010  1793.000000   2136400
 2019-12-24  1795.569946  1787.579956  1793.810059  1789.209961    881300
 2019-12-26  1870.459961  1799.500000  1801.010010  1868.770020   6005400
 2019-12-27  1901.400024  1866.010010  1882.920044  1869.800049   6186600

               Adj Close
 Date
 2014-12-29   312.040009
 2014-12-30   310.299988
 2014-12-31   310.350006
 2015-01-02   308.519989
 2015-01-05   302.190002
 2015-01-06   295.290009
 2015-01-07   298.420013
 2015-01-08   300.459991
 2015-01-09   296.929993
 2015-01-12   291.410004
 2015-01-13   294.739990
 2015-01-14   293.269989
 2015-01-15   286.950012
 2015-01-16   290.739990
 2015-01-20   289.440002
 2015-01-21   297.250000
 2015-01-22   310.320007
 2015-01-23   312.390015
 2015-01-26   309.660004
 2015-01-27   306.750000
 2015-01-28   303.910004
 2015-01-29   311.779999
 2015-01-30   354.529999
 2015-02-02   364.470001
 2015-02-03   363.549988
 2015-02-04   364.750000
 2015-02-05   373.890015
 2015-02-06   374.279999
 2015-02-09   370.559998
 2015-02-10   373.000000
 ...                 ...
 2019-11-14  1754.599976
 2019-11-15  1739.489990
 2019-11-18  1752.530029
 2019-11-19  1752.790039
 2019-11-20  1745.530029
 2019-11-21  1734.709961
 2019-11-22  1745.719971
 2019-11-25  1773.839966
 2019-11-26  1796.939941
 2019-11-27  1818.510010
 2019-11-29  1800.800049
 2019-12-02  1781.599976
 2019-12-03  1769.959961
 2019-12-04  1760.689941
 2019-12-05  1740.479980
 2019-12-06  1751.599976
 2019-12-09  1749.510010
 2019-12-10  1739.209961
 2019-12-11  1748.719971
 2019-12-12  1760.329956
 2019-12-13  1760.939941
 2019-12-16  1769.209961
 2019-12-17  1790.660034
 2019-12-18  1784.030029
 2019-12-19  1792.280029
 2019-12-20  1786.500000
 2019-12-23  1793.000000
 2019-12-24  1789.209961
 2019-12-26  1868.770020
 2019-12-27  1869.800049

 [1259 rows x 6 columns],
 'IBM':                   High         Low        Open       Close      Volume  \
 Date
 2014-12-29  162.339996  159.449997  162.000000  160.509995   3331800.0
 2014-12-30  160.820007  159.789993  160.020004  160.050003   2829900.0
 2014-12-31  161.500000  160.380005  160.410004  160.440002   4011900.0
 2015-01-02  163.309998  161.000000  161.309998  162.059998   5525500.0
 2015-01-05  161.270004  159.190002  161.270004  159.509995   4880400.0
 2015-01-06  159.960007  155.169998  159.669998  156.070007   6146700.0
 2015-01-07  157.199997  154.029999  157.199997  155.050003   4701800.0
 2015-01-08  159.039993  155.550003  156.240005  158.419998   4236800.0
 2015-01-09  160.339996  157.250000  158.419998  159.110001   4488300.0
 2015-01-12  159.250000  155.759995  159.000000  156.440002   4187600.0
 2015-01-13  159.970001  155.679993  157.259995  156.809998   4377500.0
 2015-01-14  156.490005  153.740005  154.860001  155.800003   4690300.0
 2015-01-15  156.970001  154.160004  156.690002  154.570007   4248400.0
 2015-01-16  157.630005  153.820007  153.820007  157.139999   5756000.0
 2015-01-20  157.330002  154.029999  156.699997  156.949997   8392800.0
 2015-01-21  154.500000  151.070007  153.029999  152.089996  11897100.0
 2015-01-22  155.720001  151.759995  151.940002  155.389999   6120100.0
 2015-01-23  157.600006  154.889999  155.029999  155.869995   4834800.0
 2015-01-26  159.460007  155.770004  158.259995  156.360001   7888100.0
 2015-01-27  155.089996  152.589996  154.940002  153.669998   5659600.0
 2015-01-28  154.529999  151.550003  154.000000  151.550003   4495900.0
 2015-01-29  155.580002  149.520004  151.380005  155.479996   8320800.0
 2015-01-30  155.240005  153.039993  153.910004  153.309998   6563600.0
 2015-02-02  154.660004  151.509995  154.000000  154.660004   4712200.0
 2015-02-03  158.600006  154.750000  154.750000  158.470001   5539400.0
 2015-02-04  158.710007  156.699997  157.210007  156.960007   3678500.0
 2015-02-05  158.589996  157.149994  157.289993  157.910004   5253600.0
 2015-02-06  158.080002  156.229996  157.339996  156.720001   3256500.0
 2015-02-09  157.500000  155.399994  156.000000  155.750000   3057700.0
 2015-02-10  158.559998  155.080002  156.740005  158.559998   4440600.0
 ...                ...         ...         ...         ...         ...
 2019-11-14  134.330002  133.330002  134.130005  134.000000   4231300.0
 2019-11-15  135.119995  134.029999  134.389999  134.399994   3262500.0
 2019-11-18  134.479996  133.229996  134.300003  134.309998   3210400.0
 2019-11-19  135.380005  134.460007  134.880005  134.520004   2995000.0
 2019-11-20  134.460007  132.750000  134.059998  133.199997   4138200.0
 2019-11-21  134.169998  132.979996  133.399994  133.839996   3345300.0
 2019-11-22  134.649994  133.589996  134.190002  134.339996   3297500.0
 2019-11-25  136.000000  134.350006  134.470001  135.970001   2590100.0
 2019-11-26  136.149994  134.770004  136.149994  135.089996   3793200.0
 2019-11-27  135.710007  133.619995  135.350006  133.770004   3280900.0
 2019-11-29  134.520004  133.029999  133.600006  134.449997   1825300.0
 2019-12-02  134.500000  132.479996  134.449997  132.910004   3067100.0
 2019-12-03  132.440002  130.690002  132.000000  132.119995   3642500.0
 2019-12-04  133.679993  131.960007  132.860001  131.990005   3530000.0
 2019-12-05  133.240005  131.630005  132.990005  131.910004   3595400.0
 2019-12-06  133.889999  132.699997  132.750000  133.220001   3437500.0
 2019-12-09  134.589996  133.259995  133.350006  133.919998   2968500.0
 2019-12-10  134.839996  133.559998  133.919998  133.910004   3480400.0
 2019-12-11  134.509995  133.669998  134.110001  133.759995   3953300.0
 2019-12-12  135.660004  133.660004  133.699997  135.320007   4824100.0
 2019-12-13  135.500000  134.009995  134.750000  134.210007   2535000.0
 2019-12-16  135.449997  133.850006  134.940002  134.130005   3049200.0
 2019-12-17  134.690002  133.460007  134.279999  134.220001   2907200.0
 2019-12-18  135.000000  134.149994  134.550003  134.410004   3101800.0
 2019-12-19  134.729996  134.190002  134.460007  134.559998   3866500.0
 2019-12-20  136.419998  134.949997  135.740005  135.589996   7111800.0
 2019-12-23  136.149994  135.000000  135.779999  135.550003   2803200.0
 2019-12-24  135.619995  134.610001  135.610001  134.979996   1202100.0
 2019-12-26  135.309998  134.649994  134.979996  134.910004   2129700.0
 2019-12-27  135.750000  134.869995  135.000000  135.270004   2752200.0

              Adj Close
 Date
 2014-12-29  129.342056
 2014-12-30  128.971390
 2014-12-31  129.285675
 2015-01-02  130.591095
 2015-01-05  128.536270
 2015-01-06  125.764221
 2015-01-07  124.942291
 2015-01-08  127.657913
 2015-01-09  128.213913
 2015-01-12  126.062386
 2015-01-13  126.360535
 2015-01-14  125.546654
 2015-01-15  124.555489
 2015-01-16  126.626427
 2015-01-20  126.473312
 2015-01-21  122.557053
 2015-01-22  125.216255
 2015-01-23  125.603058
 2015-01-26  125.997902
 2015-01-27  123.830261
 2015-01-28  122.121933
 2015-01-29  125.288780
 2015-01-30  123.540154
 2015-02-02  124.628014
 2015-02-03  127.698143
 2015-02-04  126.481407
 2015-02-05  127.246925
 2015-02-06  127.173882
 2015-02-09  126.386787
 2015-02-10  128.667007
 ...                ...
 2019-11-14  134.000000
 2019-11-15  134.399994
 2019-11-18  134.309998
 2019-11-19  134.520004
 2019-11-20  133.199997
 2019-11-21  133.839996
 2019-11-22  134.339996
 2019-11-25  135.970001
 2019-11-26  135.089996
 2019-11-27  133.770004
 2019-11-29  134.449997
 2019-12-02  132.910004
 2019-12-03  132.119995
 2019-12-04  131.990005
 2019-12-05  131.910004
 2019-12-06  133.220001
 2019-12-09  133.919998
 2019-12-10  133.910004
 2019-12-11  133.759995
 2019-12-12  135.320007
 2019-12-13  134.210007
 2019-12-16  134.130005
 2019-12-17  134.220001
 2019-12-18  134.410004
 2019-12-19  134.559998
 2019-12-20  135.589996
 2019-12-23  135.550003
 2019-12-24  134.979996
 2019-12-26  134.910004
 2019-12-27  135.270004

 [1259 rows x 6 columns],
 'MSFT':                   High         Low        Open       Close       Volume  \
 Date
 2014-12-29   47.779999   47.259998   47.700001   47.450001   14439500.0
 2014-12-30   47.619999   46.840000   47.439999   47.020000   16384700.0
 2014-12-31   47.439999   46.450001   46.730000   46.450001   21552500.0
 2015-01-02   47.419998   46.540001   46.660000   46.759998   27913900.0
 2015-01-05   46.730000   46.250000   46.369999   46.330002   39673900.0
 2015-01-06   46.750000   45.540001   46.380001   45.650002   36447900.0
 2015-01-07   46.459999   45.490002   45.980000   46.230000   29114100.0
 2015-01-08   47.750000   46.720001   46.750000   47.590000   29645200.0
 2015-01-09   47.820000   46.900002   47.610001   47.189999   23944200.0
 2015-01-12   47.540001   46.360001   47.419998   46.599998   23651900.0
 2015-01-13   47.910000   46.060001   46.970001   46.360001   35270600.0
 2015-01-14   46.240002   45.619999   45.959999   45.959999   29719600.0
 2015-01-15   46.380001   45.410000   46.220001   45.480000   32750800.0
 2015-01-16   46.279999   45.169998   45.310001   46.240002   35695300.0
 2015-01-20   46.650002   45.570000   46.299999   46.389999   36161900.0
 2015-01-21   46.139999   45.480000   45.939999   45.919998   39081100.0
 2015-01-22   47.139999   46.080002   46.380001   47.130001   35898000.0
 2015-01-23   47.389999   46.799999   47.360001   47.180000   26211600.0
 2015-01-26   47.130001   46.240002   47.000000   47.009998   42525500.0
 2015-01-27   43.200001   42.110001   42.950001   42.660000  169164000.0
 2015-01-28   42.790001   41.160000   42.740002   41.189999   84507100.0
 2015-01-29   42.119999   40.790001   40.930000   42.009998   63585300.0

In [371]:
prices=DataFrame({ticker:data['Close'] for ticker, data in all_data.items()})
prices

                  AAPL         AMZN         IBM        MSFT
Date
2014-12-29  113.910004   312.040009  160.509995   47.450001
2014-12-30  112.519997   310.299988  160.050003   47.020000
2014-12-31  110.379997   310.350006  160.440002   46.450001
2015-01-02  109.330002   308.519989  162.059998   46.759998
2015-01-05  106.250000   302.190002  159.509995   46.330002
2015-01-06  106.260002   295.290009  156.070007   45.650002
2015-01-07  107.750000   298.420013  155.050003   46.230000
2015-01-08  111.889999   300.459991  158.419998   47.590000
2015-01-09  112.010002   296.929993  159.110001   47.189999
2015-01-12  109.250000   291.410004  156.440002   46.599998
2015-01-13  110.220001   294.739990  156.809998   46.360001
2015-01-14  109.800003   293.269989  155.800003   45.959999
2015-01-15  106.820000   286.950012  154.570007   45.480000
2015-01-16  105.989998   290.739990  157.139999   46.240002
2015-01-20  108.720001   289.440002  156.949997   46.389999
2015-01-21  109.550003   297.250000  152.089996   45.919998
2015-01-22  112.400002   310.320007  155.389999   47.130001
2015-01-23  112.980003   312.390015  155.869995   47.180000
2015-01-26  113.099998   309.660004  156.360001   47.009998
2015-01-27  109.139999   306.750000  153.669998   42.660000
2015-01-28  115.309998   303.910004  151.550003   41.189999
2015-01-29  118.900002   311.779999  155.479996   42.009998
2015-01-30  117.160004   354.529999  153.309998   40.400002
2015-02-02  118.629997   364.470001  154.660004   41.279999
2015-02-03  118.650002   363.549988  158.470001   41.599998
2015-02-04  119.559998   364.750000  156.960007   41.840000
2015-02-05  119.940002   373.890015  157.910004   42.450001
2015-02-06  118.930000   374.279999  156.720001   42.410000
2015-02-09  119.720001   370.559998  155.750000   42.360001
2015-02-10  122.019997   373.000000  158.559998   42.599998
...                ...          ...         ...         ...
2019-11-14  262.640015  1754.599976  134.000000  148.059998
2019-11-15  265.760010  1739.489990  134.399994  149.970001
2019-11-18  267.100006  1752.530029  134.309998  150.339996
2019-11-19  266.290009  1752.790039  134.520004  150.389999
2019-11-20  263.190002  1745.530029  133.199997  149.619995
2019-11-21  262.010010  1734.709961  133.839996  149.479996
2019-11-22  261.779999  1745.719971  134.339996  149.589996
2019-11-25  266.369995  1773.839966  135.970001  151.229996
2019-11-26  264.290009  1796.939941  135.089996  152.029999
2019-11-27  267.839996  1818.510010  133.770004  152.320007
2019-11-29  267.250000  1800.800049  134.449997  151.380005
2019-12-02  264.160004  1781.599976  132.910004  149.550003
2019-12-03  259.450012  1769.959961  132.119995  149.309998
2019-12-04  261.739990  1760.689941  131.990005  149.850006
2019-12-05  265.579987  1740.479980  131.910004  149.929993
2019-12-06  270.709991  1751.599976  133.220001  151.750000
2019-12-09  266.920013  1749.510010  133.919998  151.360001
2019-12-10  268.480011  1739.209961  133.910004  151.130005
2019-12-11  270.769989  1748.719971  133.759995  151.699997
2019-12-12  271.459991  1760.329956  135.320007  153.240005
2019-12-13  275.149994  1760.939941  134.210007  154.529999
2019-12-16  279.859985  1769.209961  134.130005  155.529999
2019-12-17  280.410004  1790.660034  134.220001  154.690002
2019-12-18  279.739990  1784.030029  134.410004  154.369995
2019-12-19  280.019989  1792.280029  134.559998  155.710007
2019-12-20  279.440002  1786.500000  135.589996  157.410004
2019-12-23  284.000000  1793.000000  135.550003  157.410004
2019-12-24  284.269989  1789.209961  134.979996  157.380005
2019-12-26  289.910004  1868.770020  134.910004  158.669998
2019-12-27  289.799988  1869.800049  135.270004  158.960007

[1259 rows x 4 columns]

In [374]:
volumns=DataFrame({ticker:data['Volume'] for ticker, data in all_data.items()})
volumns

                   AAPL      AMZN         IBM         MSFT
Date
2014-12-29   27598900.0   3009000   3331800.0   14439500.0
2014-12-30   29881500.0   2093000   2829900.0   16384700.0
2014-12-31   41403400.0   2048000   4011900.0   21552500.0
2015-01-02   53204600.0   2783200   5525500.0   27913900.0
2015-01-05   64285500.0   2774200   4880400.0   39673900.0
2015-01-06   65797100.0   3519000   6146700.0   36447900.0
2015-01-07   40105900.0   2640300   4701800.0   29114100.0
2015-01-08   59364500.0   3088400   4236800.0   29645200.0
2015-01-09   53699500.0   2592400   4488300.0   23944200.0
2015-01-12   49650800.0   3421400   4187600.0   23651900.0
2015-01-13   67091900.0   4136400   4377500.0   35270600.0
2015-01-14   48956600.0   5538700   4690300.0   29719600.0
2015-01-15   60014000.0   4419200   4248400.0   32750800.0
2015-01-16   78513300.0   3478200   5756000.0   35695300.0
2015-01-20   49899900.0   3075100   8392800.0   36161900.0
2015-01-21   48575900.0  10065100  11897100.0   39081100.0
2015-01-22   53796400.0   5362600   6120100.0   35898000.0
2015-01-23   46464800.0   4496400   4834800.0   26211600.0
2015-01-26   55615000.0   3169700   7888100.0   42525500.0
2015-01-27   95568700.0   2920300   5659600.0  169164000.0
2015-01-28  146477100.0   3063800   4495900.0   84507100.0
2015-01-29   84436400.0   8656600   8320800.0   63585300.0
2015-01-30   83745500.0  23856100   6563600.0   78004900.0
2015-02-02   62739100.0  10231900   4712200.0   50352500.0
2015-02-03   51915700.0   6212600   5539400.0   52082400.0
2015-02-04   70149700.0   4169900   3678500.0   41614800.0
2015-02-05   42246200.0   7247600   5253600.0   36548200.0
2015-02-06   43706600.0   3892400   3256500.0   34616600.0
2015-02-09   38889800.0   2724600   3057700.0   31381100.0
2015-02-10   62008500.0   2287200   4440600.0   29670700.0
...                 ...       ...         ...          ...
2019-11-14   22295700.0   2264800   4231300.0   19729800.0
2019-11-15   25051600.0   3927600   3262500.0   23485700.0
2019-11-18   21675800.0   2839500   3210400.0   21534000.0
2019-11-19   19041800.0   2270800   2995000.0   23935700.0
2019-11-20   26558600.0   2790000   4138200.0   25696800.0
2019-11-21   30348800.0   2662900   3345300.0   18576100.0
2019-11-22   16331300.0   2479100   3297500.0   15901800.0
2019-11-25   21005100.0   3486200   2590100.0   22420900.0
2019-11-26   26301900.0   3181200   3793200.0   24620100.0
2019-11-27   16308900.0   3025600   3280900.0   15184400.0
2019-11-29   11654400.0   1923400   1825300.0   11977300.0
2019-12-02   23621800.0   3925600   3067100.0   27418400.0
2019-12-03   28607600.0   3380900   3642500.0   24066000.0
2019-12-04   16795400.0   2670100   3530000.0   17574700.0
2019-12-05   18606100.0   2823800   3595400.0   17869100.0
2019-12-06   26518900.0   3117400   3437500.0   16403500.0
2019-12-09   32010600.0   2442800   2968500.0   16687400.0
2019-12-10   22605100.0   2514300   3480400.0   16476100.0
2019-12-11   19689200.0   2097600   3953300.0   18856600.0
2019-12-12   34327600.0   3095900   4824100.0   24612100.0
2019-12-13   33396900.0   2745700   2535000.0   23845400.0
2019-12-16   32046500.0   3145200   3049200.0   24144200.0
2019-12-17   28539600.0   3644400   2907200.0   25425600.0
2019-12-18   29007100.0   3351400   3101800.0   24129200.0
2019-12-19   24592300.0   2652800   3866500.0   24958900.0
2019-12-20   68994500.0   5150800   7111800.0   53477500.0
2019-12-23   24643000.0   2136400   2803200.0   17718200.0
2019-12-24   12119700.0    881300   1202100.0    8989200.0
2019-12-26   23280300.0   6005400   2129700.0   14520600.0
2019-12-27   36566500.0   6186600   2752200.0   18412800.0

[1259 rows x 4 columns]

In [376]:
prices.pct_change().tail()

                AAPL      AMZN       IBM      MSFT
Date
2019-12-20 -0.002071 -0.003225  0.007655  0.010918
2019-12-23  0.016318  0.003638 -0.000295  0.000000
2019-12-24  0.000951 -0.002114 -0.004205 -0.000191
2019-12-26  0.019840  0.044467 -0.000519  0.008197
2019-12-27 -0.000379  0.000551  0.002668  0.001828

In [377]:
def minmax(x):
    return Series([x.min(),x.max()], index=['min','max'])

In [378]:
prices.apply(minmax)

           AAPL         AMZN         IBM        MSFT
min   90.339996   286.950012  107.570000   40.290001
max  289.910004  2039.510010  181.949997  158.960007

In [379]:
changes=prices.pct_change()

In [380]:
changes.corrwith(changes.AMZN)

AAPL    0.493042
AMZN    1.000000
IBM     0.332985
MSFT    0.625252
dtype: float64

In [382]:
prices.apply(pd.value_counts)

             AAPL  AMZN  IBM  MSFT
40.290001     NaN   NaN  NaN   1.0
40.400002     NaN   NaN  NaN   1.0
40.470001     NaN   NaN  NaN   1.0
40.660000     NaN   NaN  NaN   1.0
40.720001     NaN   NaN  NaN   1.0
40.959999     NaN   NaN  NaN   1.0
40.970001     NaN   NaN  NaN   1.0
41.020000     NaN   NaN  NaN   1.0
41.189999     NaN   NaN  NaN   1.0
41.209999     NaN   NaN  NaN   1.0
41.279999     NaN   NaN  NaN   1.0
41.380001     NaN   NaN  NaN   1.0
41.419998     NaN   NaN  NaN   1.0
41.459999     NaN   NaN  NaN   1.0
41.480000     NaN   NaN  NaN   1.0
41.529999     NaN   NaN  NaN   1.0
41.549999     NaN   NaN  NaN   1.0
41.560001     NaN   NaN  NaN   1.0
41.599998     NaN   NaN  NaN   1.0
41.619999     NaN   NaN  NaN   1.0
41.650002     NaN   NaN  NaN   1.0
41.680000     NaN   NaN  NaN   1.0
41.700001     NaN   NaN  NaN   1.0
41.720001     NaN   NaN  NaN   1.0
41.759998     NaN   NaN  NaN   1.0
41.820000     NaN   NaN  NaN   1.0
41.840000     NaN   NaN  NaN   1.0
41.980000     NaN   NaN  NaN   1.0
42.009998     NaN   NaN  NaN   1.0
42.029999     NaN   NaN  NaN   1.0
...           ...   ...  ...   ...
1958.310059   NaN   1.0  NaN   NaN
1962.459961   NaN   1.0  NaN   NaN
1964.520020   NaN   1.0  NaN   NaN
1970.189941   NaN   1.0  NaN   NaN
1971.310059   NaN   1.0  NaN   NaN
1973.819946   NaN   1.0  NaN   NaN
1974.550049   NaN   1.0  NaN   NaN
1974.849976   NaN   1.0  NaN   NaN
1977.900024   NaN   1.0  NaN   NaN
1985.630005   NaN   1.0  NaN   NaN
1987.150024   NaN   1.0  NaN   NaN
1988.300049   NaN   1.0  NaN   NaN
1989.869995   NaN   1.0  NaN   NaN
1990.000000   NaN   1.0  NaN   NaN
1992.030029   NaN   1.0  NaN   NaN
1994.489990   NaN   1.0  NaN   NaN
1994.819946   NaN   1.0  NaN   NaN
1998.099976   NaN   1.0  NaN   NaN
2000.810059   NaN   1.0  NaN   NaN
2001.069946   NaN   1.0  NaN   NaN
2002.380005   NaN   1.0  NaN   NaN
2003.000000   NaN   1.0  NaN   NaN
2004.359985   NaN   1.0  NaN   NaN
2009.900024   NaN   1.0  NaN   NaN
2011.000000   NaN   1.0  NaN   NaN
2012.709961   NaN   1.0  NaN   NaN
2012.979980   NaN   1.0  NaN   NaN
2017.410034   NaN   1.0  NaN   NaN
2020.989990   NaN   1.0  NaN   NaN
2039.510010   NaN   1.0  NaN   NaN

[4516 rows x 4 columns]